@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$open-sans: "Open Sans", sans-serif;

$cream: #ede9de;
$black: #000000;
$gray: #2d2828;
$white: #ffffff;
$violet: #9fa8da;
