@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$pink: #fae2d0;
$blue: #0564dc;
