.main {
  background-color: #0d0d0d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $open-sans;

  .upper-content {
    width: 100%;
    padding: 50px 20px;
    height: auto;

    @include respond(desktop) {
      height: 100vh;
      padding: 150px 150px 200px 150px;
    }

    .title {
      letter-spacing: -0.033rem;
      font-weight: 400;
      font-style: normal;
      font-size: 1.2em;
      line-height: auto;
      font-weight: bold;

      @include respond(desktop) {
        font-size: 4em;
        line-height: 6rem;
      }
    }

    .grid {
      width: 100%;
      .grid-row {
        display: flex;
        flex-direction: column;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 20px 0px;
        font-size: 1em;
        justify-content: space-between;

        @include respond(desktop) {
          flex-direction: row;
        }
      }
    }
  }

  .about-section {
    background-color: #3b7939;
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

    @include respond(desktop) {
      padding: 0px 150px 200px 150px;
      height: 500px;
    }

    h2 {
      font-size: 1.2em;
      line-height: 4.944rem;

      @include respond(desktop) {
        font-size: 4em;
      }
    }
    p {
      font-size: 1em;
      width: 100%;
      align-self: flex-end;
      letter-spacing: 0.006rem;
      font-size: 1.111rem;
      line-height: 1.556rem;

      @include respond(desktop) {
        font-size: 1em;
        width: 50%;
      }
    }
  }

  .skills-section {
    background-color: white;
    color: rgb(157, 154, 154);
    height: auto;
    width: 100%;
    padding: 20px;

    @include respond(desktop) {
      padding: 50px 150px 150px 150px;
    }

    .skill {
      padding: 20px 0px;
      font-size: 1em;
      @include respond(desktop) {
        font-size: 2em;
      }
    }
    .skill-circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      display: inline-block;
      background-color: #fef851;

      @include respond(desktop) {
        height: 30px;
        width: 30px;
      }
    }
  }

  .projects-section {
    h2 {
      padding: 20px;
      font-size: 1.6em;
      line-height: 4.944rem;
      text-align: left;

      @include respond(desktop) {
        font-size: 4em;
        padding: 50px 0px 30px 20px;
      }
    }

    .projects-container {
      background-color: #0d0d0d;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 20px;

      @include respond(tablet) {
        flex-wrap: wrap;
        flex-direction: row;
      }

      @include respond(desktop) {
        padding: 0px 0px 200px 0px;
        flex-wrap: wrap;
        flex-direction: row;
      }

      .projects-card {
        width: 100%;
        background-color: #e6e6dc;
        color: #0d0d0d;
        margin: 3px;
        padding: 30px;

        @include respond(tablet) {
          width: 48%;
        }

        @include respond(desktop) {
          width: 48%;
        }
        &:hover {
          background-image: none;
          background-color: rgba(237, 105, 41, 1);
          background-size: auto;
          background-position: 0% 0%;
          background-repeat: no-repeat;
        }

        .projects-card-inner-top {
          border-top: 1px solid #0d0d0d;
          border-bottom: 1px solid #0d0d0d;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .projects-card-stack {
          display: flex;
          p {
            padding-left: 10px;
          }
        }

        .projects-card-inner-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            font-weight: bold;
          }

          .projects-card-inner-title-circle {
            width: 20px;
            height: 20px;
            background-color: #1a4edd;
            border-radius: 50%;
          }
        }
        .projects-card-inner {
          border-bottom: 1px solid #0d0d0d;
          display: flex;
          justify-content: space-between;

          a {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .email-section {
    padding: 20px;
    height: auto;
    background-color: white;
    width: 100%;
    color: #0d0d0d;
    font-size: 1em;

    @include respond(desktop) {
      font-size: 1.2em;
      padding: 50px 200px 100px 200px;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
}

.contact-section {
  width: 100%;
  padding: 20px;
  background-color: #e64a19;

  @include respond(desktop) {
    padding: 50px 200px 40px 200px;
  }

  .grid {
    @include respond(desktop) {
      width: 100%;
    }
    .grid-row {
      display: flex;
      flex-direction: column;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: 20px 0px;
      font-size: 1em;
      justify-content: space-between;
      @include respond(desktop) {
        flex-direction: row;
      }

      .grid-row-elem {
        padding: 10px 0px;
        @include respond(desktop) {
          padding: 0px;
        }
        a {
          background-color: #dd6d4b;
          color: white;
          padding: 10px;
          border-radius: 0.55556rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: auto;
  padding: 20px;
  font-size: 0.8em;
  background-color: beige;
  color: #1a4edd;

  @include respond(desktop) {
    padding: 50px 200px 50px 200px;
  }
}
