@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  display: flex;
  width: 100%;
  .list {
    width: 40%;
    display: flex;
    padding-inline-start: 0px;

    .item {
      display: flex;
      align-items: center;
      display: inline-block;
      padding-right: 30px;
      cursor: pointer;

      .tooltip {
        background-color: $electric-pink;
      }
    }
  }
}
