@import '../../styles/variables';
@import '../../styles/mixins';

.content {
  width: 100%;
  height: auto;
  padding: 20px;
  @include respond(desktop) {
    width: 93%;
    padding: 0px;
  }

  .title {
    line-height: 0px;
    font-size: 24px;
    font-family: $open-sans;
    color: $electric-pink;
  }
  .children {
    font-family: $open-sans;
  }
}
