body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* font-family: "Merriweather", serif; */
  background-color: rgb(241, 237, 237);
  color: black;
  word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  body {
    /* border: 10px solid #0564dc; */
  }
}

a {
  color: inherit;
  /* text-decoration: none; */
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  margin: 0px;
  padding: 0px;
}
