body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Merriweather", serif;
  background-color: #ede9de;
}

@media only screen and (max-width: 600px) {
  body {
    /* border: 10px solid #0564dc; */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}
